.messageItem{
    max-width: 30%;
    
    height: auto;
    background: rgb(119, 119, 119);
    opacity: 0.8;
    /* background-color: khaki; */
    border-radius: 10px;
    margin-top: 1px;
    /* text-align: center; */
    padding: 15px;
    word-wrap: break-word;
}